@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
    font-family: "VT323", monospace;
    line-height: 1.2;
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background-color: #0d0d0d;
    color: #00ff41;
    font-size: 28px;
    text-shadow: 2px 2px 0px #000;
}

h1 {
    font-size: 45px;
    text-transform: uppercase;
    border-bottom: 2px solid #00ff41;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
}

.hidden-product {
    display: none !important;
}

h1::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

h1,
h3,
label {
    color: #00ff00;
    text-transform: uppercase;
}

#show-more-btn {
    font-family: "VT323", monospace;
    font-size: 28px;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #222;
}

.product-card {
    background: #1a1a1a;
    border: 3px solid #00ff41;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 6px 0px #000;
    transition:
        transform 0.1s,
        box-shadow 0.1s;
}

.product-card:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0px #000;
    background: #003311;
}

.product-card span {
    color: #00ff00;
}

.product-card a {
    color: #2ecc71;
    text-decoration: none;
    border: 2px solid #2ecc71;
    padding: 5px 15px;
    border-radius: 4px;
}

.product-card a:hover {
    background: #2ecc71;
    color: white;
}

.history-section {
    background: #111;
    padding: 20px;
    margin-top: 40px;
    border: 2px dashed #00ff41;
    font-size: 22px;
    position: relative;
    box-shadow: 6px 6px 0px #000;
}

.history-section h3 {
    margin-top: 0;
    color: #fff;
    background: #00ff41;
    color: #000;
    display: inline-block;
    padding: 0 10px;
    font-size: 24px;
}

.history-section ul {
    list-style: none;
    padding-left: 5px;
    margin-top: 15px;
}

.history-section li::before {
    content: "> ";
    color: #00ff41;
    font-weight: bold;
}

.history-section li {
    margin-bottom: 5px;
    color: #00ff41;
}

.cookie-popup {
    margin-bottom: 50px;
    display: none;
    position: fixed;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 650px;
    background: #222;
    color: #00ff00;
    padding: 30px;
    border-radius: 0px;
    border: 3px solid #00ff00;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-size: 20px;
}

.cookie-content h3 {
    margin-top: -10px;
    color: #00ff00;
    font-size: 45px;
    text-transform: uppercase;
}

.cookie-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.btn-accept {
    background: #00ff00;
    color: #000;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-family: "VT323", monospace;
    font-size: 35px;
    font-weight: bold;
}

.btn-accept:hover {
    background: #fff;
    color: #000;
}

.btn-link {
    color: #fff;
    text-decoration: underline;
    font-size: 0.8em;
}

.total-section {
    text-align: right;
    font-size: 40px;
    color: #fff;
    margin: 30px 0;
    border-top: 2px dashed #00ff00;
    padding-top: 10px;
}

.checkout-container {
    background: #222;
    padding: 25px;
    border: 2px solid #555;
    margin-top: 20px;
}

label {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

input[type="email"] {
    background: #000;
    border: 2px solid #00ff00;
    color: #00ff00;
    font-family: "VT323", monospace;
    font-size: 28px;
    padding: 10px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

input[type="email"]:focus {
    box-shadow: 0 0 10px #00ff00;
}

.btn-danger {
    color: #ff0000;
    border: 2px solid #ff0000;
    background: transparent;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    font-size: 24px;
}

.btn-danger:hover {
    background: #ff0000;
    color: #000;
}

.btn-primary,
.btn-accept {
    background: #00ff00;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-family: "VT323", monospace;
    font-size: 32px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover,
.btn-accept:hover {
    background: #fff;
    color: #000;
}
