<!doctype html>
<html lang="no">
    <head>
        <meta charset="UTF-8" />
        <title>Handlekurv</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <a href="/" style="color: #222; text-decoration: none"
            >← Tilbake til butikken</a
        >

        <h1>Din Handlekurv</h1>

        <div class="product-list">
            {% if cart_items %} {% for item in cart_items %}
            <div class="product-card">
                <span>{{ item.name }}</span>
                <span>{{ item.price }} kr</span>
            </div>

            {% endfor %}

            <div style="text-align: right; margin-top: 20px">
                <strong>Total: {{ total }} kr</strong>
            </div>

            <div style="margin-top: 20px; display: flex; gap: 20px">
                <a
                    href="{{ url_for('clear_cart') }}"
                    style="
                        color: red;
                        border: 2px solid red;
                        padding: 5px 15px;
                        text-decoration: none;
                    "
                    >Tøm kurv</a
                >
                <form action="{{ url_for('pay_order') }}" method="POST" style="margin-top: 20px;">
                    <label for="email">Skriv inn din e-post:</label><br>
                    <input type="email" id="email" name="user_email" required 
                        style="font-family: 'VT323'; font-size: 24px; padding: 5px; width: 100%; max-width: 400px;">
                    <br><br>
                    <button type="submit" class="btn-accept">Fullfør bestilling</button>
                </form>
            </div>
            {% else %}
            <p>Kurven din er tom.</p>
            {% endif %}
        </div>
    </body>
</html>
